* {
    box-sizing: border-box;
}

html{
    background-image: url(../assets/bg.jpg);
    margin: none;
    padding: none;
}

body{
    display: flex;
    position: relative;
    margin: none;
    align-items: center;
    justify-content: center;
}

body > div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    align-items: center;
    padding: 30px;
    overflow: hidden;
    justify-content: space-around;
    gap: 20px;
}

.mainpanel {    /*invis*/
    display: block;
    height: 90%;
    width: 100%;
    background-color: rgb(13, 12, 12);
    border-radius: 20px;
    padding: 40px;
}

.content {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url(../assets/bg2.jpg);
    background-size: cover;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*-------------------------------------------------------------------------------------------------------------------------*/

.C1 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 10px;
    justify-content: flex-end;
    align-items: start;
    padding: 20px;
    align-items: center;
    flex-direction: column;
}

.C1 > div:first-of-type {
    position: absolute;
    top: 30px;
    width: 90%;
    text-align: center;
    background-color: rgb(51, 50, 50,0.7);
    padding: 10px;
    border-radius: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
}

.C1 > div:first-of-type label {
    text-align: left;
    overflow-wrap: break-word;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
}

.C1 > div:last-of-type {
    text-align: center;
    background-color: transparent;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: start;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10vh;
    height: 30%;
}

.C1 > div:last-of-type > button {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 50, 50, 0.7);
    color: white;
    padding: 10px;  
    border-radius: 10px;
    box-shadow: 0 0 5px;
    height: 50px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

.C1 > div:last-of-type > button:hover {
    background-color: white;
    color: rgb(51, 50, 50);
    font-weight: bolder;

}

/*-------------------------------------------------------------------------------------------------------------------------*/

.popupparent{
    display: none;
    position: absolute;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
}

.popup {
    position: absolute;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px;
    border-radius: 20px;
    padding: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    height: 200px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 50% auto;
    background-position: center;
    background-repeat: no-repeat;
} 

.score{
    align-self: baseline;
    position: absolute;
    background-color: rgb(51, 50, 50, 1);
    padding: 10px;
    width: 200px;
    height: 80px;
    transform: translateY(250px);
    border-radius: 20px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
}


/*-------------------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 720px) {
    body {
        width: 720px;

    }
}